<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>Urodziny</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="static/stylejustyny.css" rel="stylesheet">

<script type="text/javascript" src="static/brython.js"></script>
</head>

<body onload="brython(10)">

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Urodziny</h3>
        </div>
        <script type="text/python">
if __name__=='__main__':
    print('hello !')
</script>

        <div class="jumbotron">
            <p class="lead"></p>
            <p>Wpisz swoje imię:
            </p>
			<form action="pytanie">
			<input type="text" name="nazwa" />
			<p></p>
			<p>Czego chcesz się dowiedzieć?
            </p>

	        <input type="radio" name="option" value="o1"> Ile ma lat?
	        <p><input type="radio" name="option" value="o2" /> Ile dni zostało do urodzin?</p>

			<input type="submit" class="myButton" value="OK" />
			</form>

            <br /> <br />
            <button id="button0" class="myButton">Pobierz obecny czas</button>
            <span id="zone0" class="zone"></span>
            <script type="text/python">
        from browser import document, window

        @document['button0'].bind('click')
        def show_date(event):
            date = window.Date.new()
            document['zone0'].text = '{}-{:02}-{:02}'.format(
                date.getFullYear(), date.getMonth()+1, date.getDate())


            </script>
        </div>

        <footer class="footer">
            <p>&copy; Jus 2018 </p>
        </footer>

    </div>

</body>

</html>