<!DOCTYPE html>
<html lang="pl-PL">

<head>
    <title>Urodziny</title>

    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

    <link href="static/stylejustyny.css" rel="stylesheet">

    <script type="text/javascript" src="static/brython.js"></script>
</head>

<body onload="brython(10)">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active"><a href="/">Home</a>
                </li>
            </ul>
        </nav>
        <h3 class="text-muted">Urodziny</h3>
    </div>
    <script type="text/python">
if __name__=='__main__':
    print('hello !')

    </script>

    <div class="jumbotron">
        <p class="lead"></p>
        <p>Wpisz swoje imię:
        </p>
        <form action="pytanie">
            <input type="text" name="nazwa"/>
            <p></p>
            <p>Czego chcesz się dowiedzieć?
            </p>
            <p><input type="radio" name="option" value="o1" checked="checked"> Ile ma lat?</p>

            <p><input type="radio" name="option" value="o2"/> Ile dni zostało do urodzin?</p>

            <input type="submit" class="myButton" value="OK"/>
        </form>

        <br/> <br/>
        <button id="button0" class="myButton">Pobierz bieżącą datę</button>
        <span id="zone0" class="zone"></span>
        <script type="text/python">
        from browser import document, window

        @document['button0'].bind('click')
        def show_date(event):
            date = window.Date.new()
            document['zone0'].text = '{}-{:02}-{:02}'.format(
                date.getFullYear(), date.getMonth()+1, date.getDate())



        </script>
    </div>

    <footer class="footer">
        <p>&copy; Jus 2018 </p>
    </footer>

</div>

</body>

</html>