<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Urodziny</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Urodziny</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Ile jeszcze...</h1>
            <p class="lead"></p>
            <p>Chcesz się dowiedzieć? Wpisz swoje imię!
            </p>
			<form action="pytanie">
			<input type="text" name="nazwa" />


			<input type="submit" value="OK" />
			</form>
        </div>
 
        <footer class="footer">
            <p>&copy; Jus 2018 </p>
        </footer>
 
    </div>
</body>
 
</html>